@use '../../styles/abstracts/variables' as var;
@use '../../styles/abstracts/mixins' as mix;

.inputContainer{
    display: flex;
    align-items: center;
    gap: var.$spacing-1;
    background: var.$dark-input;
    box-shadow: var.$box-shadow;
    border: 1.5px solid transparent;
    border-radius: var.$base-radius;
    padding: var.$spacing-1 var.$spacing-3;

    &:focus-within{
        border-color: var.$dark-border; 
    }
}

.field{
    @include mix.body1;
    
    border: none;
    background: transparent;
    width: 100%;
    padding: 0;
    color: var.$dark-placeholder;

    &:focus{
        border: var.$dark-border;
    }

    &::placeholder{
        color: var.$dark-placeholder;
    }
}

.icon{
    color: var.$dark-placeholder;
}

