# ===== .NET Backend =====
**/bin/
**/obj/
*.user
*.suo
*.cache
*.log
.vs/
.vscode/
.idea/
appsettings.Development.json
appsettings.Production.json
*.db
*.db-shm
*.db-wal
secrets.json
.env

# ===== Frontend =====
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dev-dist/

# ===== Editor & OS =====
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.swp
*.sln

# ===== Tests =====
**/TestResults/