@use '../../styles/abstracts/variables' as var;
@use '../../styles/abstracts/mixins' as mix;

.btn {
  @include mix.buttons;
  box-sizing: border-box;
  color: var(--text-primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: var.$base-radius;
  border: var(--border-color);
  box-shadow: var(--box-shadow);
  background-color: var(--button-bg);   // ← главное изменение
  cursor: pointer;

  &.form {
    min-width: 55.08%;
    padding: var.$spacing-1;
    width: 100%;
  }

  &:active {
    background-color: var(--button-bg);
  }

  &:disabled {
    opacity: 0.4;
  }

  &.primary {
    padding: var.$spacing-1 0;
    width: 100%;
  }

  &.secondary {
    display: flex;
    background: var(--button-bg);
    border: 1.5px solid var(--border-color);
    max-width: 160px;
    min-width: 140px;
    padding: var.$spacing-1 var.$spacing-3;
    flex-direction: column;
    gap: 5px;
    color: var(--text-secondary);
  }
}