# Существующие переменные для БД
DB_HOST=localhost
DB_PORT=5431
DB_NAME=habit_tracker
DB_USER=habit_user
DB_PASSWORD=your_password_here

#JWT
JWT_SECRET=your_jwt_secret_key_min_32_characters_long

# Погода
WEATHER_API_KEY=your_openweather_api_key
WEATHER_BASE_URL=https://api.openweathermap.org/data/2.5/

# ИИ
AI_API_KEY=ollama
AI_BASE_URL=http://ollama:11434/v1/chat/completions
AI_MODEL=gemma3:4b

# Gmail SMTP (для production email)
GMAIL_SENDER_EMAIL=your-app@gmail.com
GMAIL_APP_PASSWORD=your-app-specific-password