@use '../../styles/abstracts/variables' as var;

.historyCard {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px;
}

.content {
  flex: 1;
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.iconText {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--text-secondary);
}

.dateText {
  color: var(--text-secondary);
}

.percentText {
  color: var(--text-primary);
}

.commentText {
  display: block;
  margin-top: 4px;
  color: var(--text-primary);
}