@use '../../styles/abstracts/variables' as var;
@use '../../styles/abstracts/mixins' as mix;

.btn{
    @include mix.buttons;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var.$dark-buttons;
    border-radius: var.$base-radius;
    border: var.$dark-border;
    box-shadow: var.$box-shadow;

    &.btn-form{
        min-width: 55.08%;
        padding: 10px 0 10px 0;
    }
}