@use './abstracts/_variables.scss' as var;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root,
[data-theme="dark"] {
    --app-background: #{var.$dark-background};
}

[data-theme="light"]{
    --app-background: #{var.$light-background};
    --app-text: #{var.$light-text};
}

body{
    background-color: var(--app-background);
    color: var(--app-text);
}

.container{
    width: 338px;
    margin: 0 auto;
}