@use '../../styles/abstracts/variables' as var;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.auth {
  color: var(--text-primary);
}

.circle1, .circle2, .circle3, .circle4 {
  position: absolute;
  border-radius: var.$circle;
  background: var(--decorate);
  pointer-events: none;
  box-shadow: var(--box-shadow);
}
.circle1 { width: 108px; height: 108px; left: 94px; top: -36px; z-index: -1; }
.circle2 { width: 217px; height: 217px; left: 281px; top: -68px; z-index: 0; }
.circle3 { width: 217px; height: 217px; left: -85px; top: 600px; z-index: -1; }
.circle4 { width: 108px; height: 108px; left: 360px; top: 840px; z-index: 0; }

.selectSpacing {
  width: 100%;
  height: var.$h1-line-height;
  padding: 0 20px;
  font-size: var.$body1-font-size;
  border: var(--border-color);
  border-radius: var.$base-radius;
  background: var(--input-bg);
  color: var(--placeholder);
  font-family: var.$font-family;
}

.error {
  font-size: 13px;
  color: #ff3b30;
  text-align: left;
}

.link {
  font-size: var.$buttons-font-size;
  color: var(--text-primary);
  text-decoration: none;
  width: auto;
}

.centeredPage {
  min-height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.Buttons {
  width: 195px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}