@use '../../styles/abstracts/_variables.scss' as var;

.auth{
  color: var.$dark-main-text;
}

.link {
  font-size: var.$buttons-font-size;
  color: var.$dark-main-text;
  text-decoration: none;
}

.circle1 {
  position: absolute;
  width: 108px;
  height: 108px;
  left: 94px;
  top: -36px;
  border-radius: var.$circle;          
  background: var.$dark-decorate;        
  pointer-events: none;        
  z-index: 0;                    
  box-shadow: var.$box-shadow;
  };
  
.circle2 {
  position: absolute;
  width: 217px;
  height: 217px;
  left: 281px;
  top: -68px;
  border-radius: var.$circle;
  background: var.$dark-decorate;
  pointer-events: none;        
  z-index: 0;                    
  box-shadow: var.$box-shadow;
  };

.circle3 {
  position: absolute;
  width: 217px;
  height: 217px;
  left: -85px;
  top: 600px;
  border-radius: var.$circle;
  background: var.$dark-decorate;
  pointer-events: none;        
  z-index: 0;                    
  box-shadow: var.$box-shadow;
  };
  
.circle4 {
  position: absolute;
  width: 108px;
  height: 108px;
  left: 360px;
  top: 840px;
  border-radius: var.$circle;
  background: var.$dark-decorate;
  pointer-events: none;        
  z-index: 0;                    
  box-shadow: var.$box-shadow;     
  };
  
.page {
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  gap: 10px;
}

.error {
  font-size: '13px';
  color: '#ff3b30';
  margin-top: '-12px';
  margin-bottom: '12px';
  text-align: 'left';
};

.centeredPage{
  min-height: 100vh;
  justify-content: center;
  overflow: hidden;
}

form{
  width: 100%;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.Buttons{
    width: 195px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

