@use '../../styles/abstracts/variables' as var;

.page {
  background: var(--bg-primary);
  padding: 30px 20px 40px;
  margin-top: -30px;
}

.title {
  color: var(--text-primary);
  font-size: var.$h1-font-size;
  text-align: center;
  margin-bottom: 12px;
}

.avatarContainer {
  text-align: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: var.$circle;
}

.name {
  color: var(--text-primary);
  font-size: var.$h2-font-size;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.sectionTitle {
  color: var(--text-primary);
  font-size: var.$h3-font-size;
  margin-bottom: 10px;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.settingRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timePicker {
  background: var(--input-bg);
  border: var(--border-color);
  border-radius: var.$base-radius;
  padding: 6px 12px;
  color: var(--text-primary);
  font-size: 14px;
  font-family: var.$font-family;
  cursor: pointer;
}

.citySelect {
  background: var(--input-bg);
  border: var(--border-color);
  border-radius: var.$base-radius;
  padding: 6px 12px;
  color: var(--text-primary);
  font-size: 14px;
  font-family: var.$font-family;
  cursor: pointer;
  margin-left: 14px;
}

.icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-right: 12px;
  color: var(--text-primary);
}

.logoutButton {
  background: #591A1B;
  border: 1.5px solid #591A1B;
  border-radius: var.$base-radius;
  font-size: var.$body1-font-size;
  font-weight: 600;
  color: #B6282A;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: var(--box-shadow);
  width: auto;
  padding: 10px;
}

.link {
  display: block;
  margin-top: 24px;
  font-size: 16px;
  color: var(--text-primary);
  text-decoration: none;
  text-align: center;
  z-index: 1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin-left: 70px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 24px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #B6282A;
}
input:checked + .slider:before {
  transform: translateX(24px);
}

.reportRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 100%;
}