@use "../../../../styles/abstracts/variables" as var;

.label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
}

<<<<<<< HEAD
// Скрываем нативный чекбокс, но оставляем его доступным
=======
>>>>>>> feature/frontend-city-insights-page
.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

<<<<<<< HEAD
// Фон чекбокса (пустой квадратик)
=======
>>>>>>> feature/frontend-city-insights-page
.checkmark {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: var.$dark-buttons;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
<<<<<<< HEAD
  color: white; // чтобы иконка внутри стала белой
}

// Когда чекбокс активен, меняем фон
.input:checked + .checkmark {
  background-color: var.$dark-buttons; // или другой цвет
}

// Иконка (галочка) внутри .checkmark
.icon {
  display: none; // по умолчанию скрыта
=======
  color: white; 
}

.input:checked + .checkmark {
  background-color: var.$dark-buttons; 
}

.icon {
  display: none; 
>>>>>>> feature/frontend-city-insights-page
  width: 12px;
  height: 12px;
}

<<<<<<< HEAD
// При :checked показываем иконку
.input:checked + .checkmark .icon {
  display: block;
}
=======
.input:checked + .checkmark .icon {
  display: block;
}
>>>>>>> feature/frontend-city-insights-page
