@use '../../styles/abstracts/variables' as var;

.blocktext{
    display: flex;
    flex-direction: column;
    gap: var.$spacing-1;
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: var.$spacing-2; // небольшой зазор, чтобы кнопки не слипались
}

.block{
    display: flex;
    flex-direction: column;
    gap: var.$spacing-3;
}

.mainText{
    color: var.$dark-main-text
}

.basicText{
    color: var.$dark-basic-text;

    &.desc{
        opacity: 0.6;
    }
}

.stars{
    display: flex;
    gap: 8px;
}

.errorText {
    color: #ff4d4f;
    margin-top: 4px;
}

// Новый класс для вертикального расположения контента внутри кнопки-опции
.optionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var.$spacing-3;
}