@use '../../styles/abstracts/mixins' as mix;
@use '../../styles/abstracts/variables' as var;

.btn {
    @include mix.buttons;

    box-sizing: border-box;
    color: var(--app-text);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: var(--app-border);
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--app-buttons);
    cursor: pointer;

    &.form {
        min-width: 55.08%;
        padding: 10px 0;
        width: 100%;
    }

    &.primary {
        padding: 10px 0;
        width: 100%;
        background: var(--app-buttons);
        color: var(--app-text);
    }

    &.secondary {
        display: flex;
        border: none;
        background: var(--app-decorate);
        max-width: 160px;
        min-width: 140px;
        padding: 10px 15px;
        flex-direction: column;
        gap: 5px;
        color: var(--app-basic-text);
    }

    &:active {
        background-color: var(--app-buttons-active);
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}