@use '../../styles/abstracts/variables' as var;
@use '../../styles/abstracts/mixins' as mix;

.btn{
    @include mix.buttons;

    box-sizing: border-box;
    color: var(--app-text);  

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: var.$base-radius;
    border: var(--app-border);  
    box-shadow: var.$box-shadow;
    background-color: var(--app-buttons);  
    cursor: pointer;

    &.form{
        min-width: 55.08%;
        padding: var.$spacing-1;
        width: 100%;
    }

    &:active{
        background-color: var(--app-buttons-active);  // ← добавим позже
    }

    &:disabled{
        opacity: 0.4;
    }

    &.primary{
        padding: var.$spacing-1 0;
        width: 100%;
        background: var(--app-buttons);
        color: var(--app-text);
    }

    &.secondary{
        display: flex;
        border: none;
        background: var(--app-decorate);
        max-width: 160px;
        min-width: 140px;
        padding: var.$spacing-1 var.$spacing-3;
        flex-direction:column; 
        gap: 5px;
        color: var(--app-text);
    }
}