@use '../../styles/abstracts/variables' as var;

.page {
  background: var(--bg-primary);
  font-family: var.$font-family;
  padding: 20px;
}

.title {
  color: var(--text-primary);
  font-size: var.$h1-font-size;
  margin-bottom: 24px;
  text-align: left;
}

.searchContainer {
  margin-bottom: 24px;
  width: 100%;
}

.searchInput {
  padding: 0;
}

input {
  background: transparent;
  border: none;
  padding: 8px 0;
  outline: none;
  color: var(--text-primary);
  font-size: var.$body1-font-size;
}

input::placeholder {
  font-size: var.$body1-font-size;
  color: var(--placeholder);
  font-family: var.$font-family;
}

.popularSection {
  margin-bottom: 16px;
  width: 100%;
}

.popularTitle {
  color: var(--text-primary);
  font-size: var.$h3-font-size;
  margin-bottom: 12px;
}

.horizontalScroll {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.cityList {
  display: flex;
  gap: 12px;
  padding-bottom: 4px;
}

.cityButton {
  background: var(--input-bg);
  border: var(--border-color);
  border-radius: 30px;
  padding: 8px 20px;
  color: var(--text-primary);
  font-size: 16px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background: var(--decorate);
  }
}

.activeCity {
  background: var(--decorate);
  border-color: var(--button-bg);
}

.statsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.statItemCard {
  width: 100%;
  background: var(--bg-card);
  border-radius: var.$base-radius;
  padding: 16px 20px;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
}

.statItemContent {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.statIcon {
  width: 32px;
  height: 32px;
  color: var(--text-primary);
  flex-shrink: 0;
}

.statItemTexts {
  flex: 1;
}

.statItemPercent {
  color: var(--text-primary);
  font-size: var.$h2-font-size;
}

.statItemDescription {
  color: var(--text-primary);
  font-size: var.$body2-font-size;
  line-height: 1.4;
}