@use '../../styles/abstracts/variables' as var;

.page {
  background: var.$dark-background;
  border-radius: var.$base-radius;
  font-family: var.$font-family;
}


.title {
  color: var.$dark-main-text;
  font-size: var.$h1-font-size;
  margin-bottom: 30px;
}

.searchContainer {
  margin-bottom: 24px;
}

.searchInput {
  background: var.$dark-input;
  border: var.$dark-border;
  color: var.$dark-main-text;
}



.popularTitle {
  color: var.$dark-main-text;
  font-size: var.$h3-font-size;
  margin-bottom: 12px;
}

.horizontalScroll {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}

.cityList {
  display: flex;
  gap: 10px;
  padding-bottom: 4px;
}

.cityButton {
  
  background: var.$dark-input;
  border: var.$dark-border;
  border-radius: var.$base-radius;
  padding: 8px 20px;
  color: var.$dark-main-text;
  font-size: var.$body1-font-size;
  font-family: inherit;
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;
}

.cityButton:hover {
  background: var.$dark-decorate;
  border-color: var.$dark-border;
}

.activeCity {
  background: var.$dark-decorate;
}

.statCard {
  width: 100%;
  background: var.$dark-substrate;
  border-radius: var.$base-radius;
  padding: 16px 20px;
  box-shadow: var.$box-shadow;
  display: flex;
  align-items: center;
  gap: 16px;
}

.statsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 8px;
}

.statItemPercent {
  color: var.$dark-main-text;
  font-size: var.$h2-font-size;
}

.statItemDescription {
  color: var.$dark-main-text;
  font-size: var.$body2-font-size;
}

