@use '../../styles/abstracts/variables' as var;

.page {
  background: var(--app-background);
  border-radius: var.$base-radius;
  font-family: var.$font-family;
}

.title {
  color: var(--app-basic-text);
  font-size: var.$h1-font-size;
  margin-bottom: 30px;
}

.searchContainer {
  margin-bottom: 24px;
}

.searchInput {
  background: var(--app-input);
  border: var(--app-border);
}


.popularTitle {
  color: var(--app-basic-text);
  font-size: var.$h3-font-size;
  margin-bottom: 12px;
}

.horizontalScroll {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}

.cityList {
  display: flex;
  gap: 10px;
  padding-bottom: 4px;
}

.cityButton {
  
  background: var(--app-input);
  border: var(--app-border);
  border-radius: var.$base-radius;
  padding: 8px 20px;
  color: var(--app-basic-text);
  font-size: var.$body1-font-size;
  font-family: inherit;
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;
}

.activeCity {
  background: var(--app-buttons-active);
}

.statsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 8px;
}

.statItemPercent {
  color: var(--app-basic-text);
  font-size: var.$h2-font-size;
}

.statItemDescription {
  color: var(--app-basic-text);
  font-size: var.$body2-font-size;
}